li {
  list-style: none;
}

.custom_board {
  border: 1px solid #e3e6f0;
  border-radius: 4px;
  padding: 25px;
  position: relation;
  }

.custom_board * {
  font-size: 1rem;
  color: #858796;
}

.custom_board .boardTable {
  width: 100%;
  border: 1px solid #e3e6f0;
  padding: 25px;
}

.custom_board .boardTable tr {
  border-bottom: 1px solid #e3e6f0;
}

.custom_board .boardTable tr th, .custom_board .boardTable tr td {
  padding: 15px;
  text-align: center;
}

.custom_board .boardTable thead tr th {
  border-right: 1px solid #e3e6f0;
}

.custom_board .boardTable tbody tr td {
  border-right: 1px solid #e3e6f0;
}

.custom_board .boardTable tbody tr:hover {
  color: #858796;
  background-color: rgba(0, 0, 0, 0.075);
  cursor: pointer;
}

.custom_board .boardTool .tool_Paging ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom_board .boardTool .tool_Paging ul li {
  margin: 0 5px;
}

.custom_board .boardTool .tool_Search form {
  display: -webkit-box;
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
